/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
	.soon .logo__img {
		width: 250px;
	}
}

@media screen and (min-width: 1171px) and (max-width: 1400px) {
	.nav__link, .header__lang, .header__nav {
		margin-right: 50px;
	}
	.stats__value {
		font-size: 80px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 100px;
	}
	.stats__del {
		font-size: 110px;
	}
	.advantages-box {
		justify-content: space-between;
	}
	.sequences__item--width {
		top: 0;
	}
	.sequences__item--one:before {
		width: 185px;
		height: 27px;
	}
	.sequences__item--two:before {
		width: 185px;
    	height: 30px;
    	left: 60%;
	}
	.sequences__item--three:before {
		width: 150px;
    	height: 110px;
    	top: 70%;
	}
	.referal__code {
		padding-bottom: 20px;
	}
	.excellence {
		background-position: 50% 0;
	}
	.not-found {
		background-position: 60% 0
	}
	.not-found__wrap {
		width: 50%;
		height: 100vh;
		justify-content: center;
	}
	.soon__wrap {
		width: 65%;
	}
	.draw__block {
		width: 100%;
		padding-bottom: 30px;
		justify-content: center;
	}
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1170px) {
	.sequences__item--one:before {
		width: 185px;
		height: 27px;
	}
	.sequences__item--two:before {
		width: 185px;
    	height: 30px;
    	top: 215px;
    	left: 59%;
	}
	.sequences__item--three:before {
		width: 150px;
    	height: 110px;
    	top: 80%;
    	transform: translate(0, -80%);
	}
	.nav, .header__sign {
		display: none;
	}
	.mobile-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.btn-toggle {
		display: block;
	}
	.statistic-bg {
		height: 100%;
	}
	.slider__nav {
		bottom: 25px;
		transform: translate(-50%, -25px);
	}
	.stats__value {
		font-size: 60px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 80px;
	}
	.stats__del {
		font-size: 90px;
	}
	.advantages-box {
		justify-content: space-between;
	}
	.sequences__item--width {
		top: 0;
	}
	/*section {
		height: auto!important;
		padding: 100px 0!important;
	}*/
	.slider-init__info {
		max-width: none;
		width: 60%;
	}
	/* draw */
	.draw__block {
		width: 100%;
		padding-bottom: 30px;
		justify-content: center;
	}
	.draw__info {
		margin: 40px 0 20px 0;
	}
	/* draw end */
	/* 404 */
	.not-found {
		background-position: 80% 0;
	}
	.not-found__wrap {
		width: 60%;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 40px;
	}
	.not-found__link {
		margin-top: 40px;
	}
	/* 404 end */
	/* soon */
	.soon {
		background-position: 50% 0;
	}
	.soon__wrap {
		width: 60%;
	}
	/* soon end */
	/* about */
	.excellence {
		background-position: 60% 0;
	}
	.about__wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.about__img, .about__info {
		width: 100%;
	}
	.about__info {
		order: 1;
		padding-left: 0;
	}
	.about__img {
		order: 2;
		padding-top: 40px;
		max-width: none;
		text-align: center;
	}
	.about__image-subtitle {
		justify-content: center;
	}
	/* about end */
	/* account */
	.account__wrap {
		justify-content: center;
	}
	.account__referal {
		padding-bottom: 20px;
	}
	.personal-info {
		width: 100%;
		justify-content: center;
	}
	.balance {
		width: 50%;
		margin-top: 40px;
	}
	.table-balance__thead {
		font-size: 19px;
		line-height: 31px;
	}
	/* account end */

	/* referal */
	.referal__code {
		padding-bottom: 20px;
	}
	/* referal end */
	.footer {
		padding: 100px 0;
	}
	.footer__info {
		width: 35%;
	}
	.footer__form {
		width: 65%;
	}
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.sequences__item--one:before {
		width: 185px;
		height: 27px;
		left: 40%;
	}
	.sequences__item--two:before {
		width: 185px;
    	height: 30px;
    	top: 215px;
    	left: 59%;
	}
	.sequences__item--three:before {
		width: 150px;
    	height: 110px;
    	top: 20%;
    	transform: rotate(-55deg);
	}
	.sequences__item--four:before {
		transform: translate(-52%, -50%);
	    top: 45%;
	    right: 52%;
	    width: 185px;
    	height: 30px;
	}
	.sequences__item--two:before {
		display: none;
	}
	.sequences__item--five:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 100px;
		width: 42px;
		height: 123px;
		top: -30px;
		left: 25%;
    	transform: rotate(-60deg);
		background: url(..//images/right-bottom-small.png) no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.nav, .header__sign {
		display: none;
	}
	.mobile-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		min-width: 45%;
	}
	.btn-toggle {
		display: block;
	}
	.slider-init__item {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.slider-init__info, .slider-init__img {
		width: 100%;
	}
	.slider-init__title, .slider-init__text {
		text-align: center;
	}
	.slider-init__links {
		justify-content: center;
	}
	.slick-slide img {
	    max-height: 250px!important;
	    height: auto;
	}
	.slider-init__info {
		order: 2;
	}
	.slider-init__img {
		order: 1;
		padding: 20px;
	}
	.slider__nav-mobile {
		top: 20%;
	}
	.statistic-bg {
		height: 100%;
	}
	.stats {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.stats__block {
		padding: 0 0 50px 0;
	}
	.stats__block--time {
		width: 100%;
		order: 1;
	}
	.stats__block--width {
		order: 2;
		width: 50%;
	}
	.stats__block--money {
		order: 3;
		width: 50%;
	}
	.stats__value {
		font-size: 100px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 150px;
	}
	.advantages-box {
		justify-content: space-between;
	}
	.advantages-item__title {
		max-width: none;
	}
	.sequences__item {
		flex-basis: 50%;
		padding-bottom: 40px;
	}
	.sequences__item--width {
		top: 0;
	}
	.sequences__item--full {
		flex-basis: 100%;
	}
	.sequences__block {
		width: auto;
		height: auto;
		background: none!important;
	}
	/*section {
		height: auto!important;
		padding: 100px 0!important;
	}*/
	/* draw */
	.draw__block {
		width: 100%;
		padding-bottom: 30px;
		justify-content: center;
	}
	.draw__info {
		margin: 40px 0 20px 0;
	}
	.table-balance__column {
		display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    -ms-align-items: center;
	    align-items: center;
	    justify-content: space-between;
	}
	.table-balance__column--icon:after {
		right: -40px;
		left: auto;
	}
	.table-balance__column--margin {
		margin-right: 40px;
	}
	/* faq */
	.questions__question {
		padding: 33px 145px 33px 33px;
	}
	.banner {
		padding: 50px;
	}
	.banner__title {
		font-size: 40px;
	}
	/* faq end */
	/* 404 */
	.not-found {
		background-position: 80% 0;
	}
	.not-found__wrap {
		width: 100%;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 40px;
	}
	.not-found__logo {
		display: none;
	}
	.not-found__link {
		margin-top: 40px;
	}
	/* 404 end */
	/* soon */
	.soon {
		background-position: 60% 0;
	}
	.soon__wrap {
		width: 80%;
	}
	/* soon end */
	/* about */
	.about {
		padding-bottom: 100px;
	}
	.excellence {
		height: auto;
		background-position: 60% 0;
	}
	.about__wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.about__img, .about__info {
		width: 100%;
	}
	.about__info {
		order: 1;
		padding-left: 0;
	}
	.about__img {
		order: 2;
		padding-top: 40px;
		max-width: none;
		text-align: center;
	}
	.about__image-subtitle {
		justify-content: center;
	}
	/* about end */
	/* account */
	.account__wrap {
		justify-content: center;
	}
	.account__referal {
		padding-bottom: 20px;
	}
	.personal-info {
		width: 100%;
		justify-content: center;
	}
	.balance {
		width: 50%;
		margin-top: 40px;
	}
	.table-balance__thead {
		font-size: 16px;
		width: auto;
	}
	.table-balance__column {
		padding: 25px 0 25px;
	}
	.account__table {
		margin-bottom: 50px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.table-balance__thead { 
		display: none;
	}
	tr { 
	 	border-top: 1px solid #ccc; 
	}
	tr:last-child { 
	 	border-bottom: 1px solid #ccc; 
	}
	table td:before {
	    content: attr(data-label);
	    margin-right: 40px;
	    color: #fff;
	}
	/* account end */

	/* referal */
	.referal__code, .referal__text {
		width: 100%;
	}
	.referal__code {
		padding-bottom: 20px;
	}
	/* referal end */
	.footer {
		padding: 100px 0;
	}
	.footer__container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__info {
		width: 100%;
	}
	.footer__form {
		width: 100%;
		margin-left: 0;
		margin-top: 50px;
	}
	.box-modal {
		min-width: auto;
		padding: 75px 30px;
	}
	.box-modal--bg {
		background-position: 45% 0;
	}
	.winners__item {
		padding: 10px;
	}
	.winners__name, .winners__sum {
		font-size: 20px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	.nav, .header__sign {
		display: none;
	}
	.mobile-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		min-width: 60%;
	}
	.btn-toggle {
		display: block;
	}
	.btn, .btn-black {
		width: 80%;
		font-size: 18px;
	}
	.title, .title-right {
		font-size: 35px;
		line-height: 45px;
	}
	.slider {
		padding: 50px 0!important;
	}
	.slider-init__item {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.slider-init__info, .slider-init__img {
		width: 100%;
	}
	.slider-init__title, .slider-init__text {
		text-align: center;
	}
	.slider-init__links {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 30px;
	}
	.slick-slide img {
	    max-height: 250px!important;
	    height: auto;
	}
	.slider-init__link {
		margin-bottom: 20px;
		margin-right: 0;
	}
	.slider-init__link:last-child {
		margin-bottom: 0;
	}
	.slider-init__title {
		font-size: 30px;
		line-height: 45px;
	}
	.slider-init__high {
		font-size: 40px;
	}
	.slider__nav {
		bottom: 0;
	}
	.slick-prev:before {
		width: 28px!important;
		height: 19px!important;
		background: url(..//images/mobile-arrow-left.png) no-repeat!important;
	}
	.slick-next:before {
		width: 28px!important;
		height: 19px!important;
		background: url(..//images/mobile-arrow-right.png) no-repeat!important;
	}
	.text {
		font-size: 20px;
		line-height: 36px;
	}
	.slider-init__info {
		order: 2;
	}
	.slider-init__img {
		order: 1;
		padding: 20px;
	}
	.slider__nav-mobile {
		top: 20%;
	}
	.statistic-bg {
		height: 100%;
	}
	.stats {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.stats__block {
		padding: 0 0 30px 0;
	}
	.stats__block--time {
		width: 100%;
		order: 1;
	}
	.stats__block--width {
		order: 2;
		width: 50%;
		padding-bottom: 0;
	}
	.stats__block--money {
		order: 3;
		width: 50%;
		padding-bottom: 0;
	}
	.stats__value {
		font-size: 50px;
	}
	.stats__desc {
		padding-top: 10px;
		font-size: 21px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 90px;
	}
	.stats__del {
		padding: 0 20px;
		font-size: 100px;
	}
	.advantages-box__wrap {
		-ms-align-items: center;
		align-items: center;
	}
	.advantages-box {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.advantages-box__item {
		flex-basis: 50%;
		justify-content: center;
		padding-bottom: 30px;
	}
	.advantages-box__item:nth-child(2), .advantages-box__item:nth-child(4) {
		border-right: 0;
	}
	.advantages-box__number {
		display: none;
	}
	.advantages-item__title {
		text-align: center;
	}
	.sequences__item {
		flex-basis: 50%;
		padding-bottom: 40px;
	}
	.sequences__item--width {
		top: 0;
	}
	.sequences__item--full {
		flex-basis: 100%;
	}
	.sequences__block {
		width: auto;
		height: auto;
		background: none!important;
	}
	.sequences__info {
		max-width: 200px;
	}
	.sequences__item--one:before {
		width: 130px;
    	height: 20px;
		left: 40%;
	}
	.sequences__item--two:before {
		width: 185px;
    	height: 30px;
    	top: 215px;
    	left: 59%;
	}
	.sequences__item--three:before {
		width: 110px;
    	height: 110px;
    	top: 20%;
    	right: 5px;
    	transform: rotate(-55deg);
	}
	.sequences__item--four:before {
		transform: translate(-52%, 0) rotate(10deg);
	    top: 0;
	    right: 52%;
	    width: 128px;
    	height: 35px;
    	background: url(..//images/left-bottom-small.png) no-repeat;
    	-webkit-background-size: cover;
    	background-size: cover;
	}
	.sequences__item--two:before {
		display: none;
	}
	.sequences__item--five:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 100px;
		width: 42px;
		height: 123px;
		top: -30px;
		left: 25%;
    	transform: rotate(-60deg);
		background: url(..//images/right-bottom-small.png) no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.statistic, .advantages, .invite {
		height: auto!important;
		padding: 50px 0!important;
	}
	/* draw */
	.draw__block {
		width: 100%;
		padding-bottom: 30px;
		justify-content: center;
	}
	.draw__info {
		margin: 40px 0 20px 0;
	}
	.draw__desc {
		font-size: 18px;
	}
	.table-balance__column {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}
	.table-balance__column--margin {
		margin-right: 40px;
	}
	.table-balance__column--icon:after {
		right: -40px;
		left: auto;
	}
	/* faq */
	.questions__question {
		padding: 33px 145px 33px 33px;
	}
	.banner {
		padding: 50px;
	}
	.banner__title {
		font-size: 39px;
	}
	.soon__desc, .soon__value {
		font-size: 35px;
	}
	/* faq end */
	/* 404 */
	.not-found {
		background-position: 85% 0;
	}
	.not-found__wrap {
		width: 100%;
		height: 100vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 50px 0;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 40px;
	}
	.not-found__logo {
		display: none;
	}
	.not-found__row {
		padding-top: 0;
	}
	.not-found__value {
		font-size: 35px;
	}
	.not-found__link {
		width: auto;
		padding: 0 40px;
		margin-top: 40px;
	}
	/* 404 end */
	/* soon */
	.soon {
		background-position: 65% 0;
	}
	.soon__wrap {
		width: 100%;
		justify-content: space-evenly;
	}
	.soon__row {
		padding-top: 0;
	}
	.soon__link {
		width: auto;
		margin-top: 0;
		padding: 0 40px;
	}
	/* soon end */
	/* about */
	.about {
		padding-bottom: 70px;
	}
	.excellence {
		height: auto;
		padding: 70px 0;
		background: #141414;
	}
	.excellence-box {
		width: auto;
	}
	.excellence-box__item {
		justify-content: center;
	}
	.about__wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.about__img, .about__info {
		width: 100%;
	}
	.about__info {
		order: 1;
		padding-left: 0;
	}
	.about__img {
		order: 2;
		padding-top: 40px;
		max-width: none;
		text-align: center;
	}
	.about__image-subtitle {
		justify-content: center;
	}
	/* about end */
	/* account */
	.account__wrap {
		justify-content: center;
	}
	.account__referal {
		padding-bottom: 20px;
	}
	.personal-info {
		width: 100%;
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.personal-info__info {
		margin-top: 40px;
		padding-left: 0;
	}
	.balance {
		width: 85%;
		margin-top: 40px;
	}
	.balance__bottom {
		padding: 25px 0;
	}
	.table-balance__thead {
		font-size: 16px;
		width: auto;
	}
	.table-balance__column {
		padding: 25px 0 25px;
		text-align: left;
	}
	.account__table {
		margin-bottom: 50px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.table-balance__thead { 
		display: none;
	}
	tr { 
	 	border-top: 1px solid #ccc; 
	}
	tr:last-child { 
	 	border-bottom: 1px solid #ccc; 
	}
	table td:before {
	    content: attr(data-label);
	    margin-right: 40px;
	    width: 50%;
	    display: inline-block;
	    color: #fff;
	}
	/* account end */

	/* referal */
	.referal__code, .referal__text {
		width: 100%;
	}
	.referal__text {
		font-size: 18px;
		line-height: 38px;
	}
	.referal__code {
		padding-bottom: 20px;
	}
	.referal__value {
		font-size: 14px;
	}
	/* referal end */
	.footer {
		padding: 50px 0;
	}
	.footer__container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__info {
		width: 100%;
	}
	.footer__form {
		width: 100%;
		margin-left: 0;
		margin-top: 50px;
	}
	.box-modal {
		min-width: auto;
		padding: 75px 10px;
	}
	.draw-modal {
		width: 100%;
	}
	.draw-modal__wrap {
		justify-content: center;
	}
	.draw-modal__list:last-child {
		padding-right: 20px;
	}
	.modal-referal__value {
		font-size: 14px;
	}
	.modal-referal__value:after {
		margin-left: 10px;
	}
	.box-modal__socials {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.socials-buttons__btn {
		margin-bottom: 10px;
	}
	.box-modal--bg {
		background-position: 50% 0;
	}
	.winners {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.winners__item {
		justify-content: center;
	}
	.winners__list {
		width: 100%;
	}
	.winners__item {
		padding: 10px;
	}
	.winners__name, .winners__sum {
		font-size: 20px;
	}
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
	.nav, .header__sign {
		display: none;
	}
	.btn-toggle {
		display: block;
	}
	.mobile-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		min-width: 100%;
	}
	.btn, .btn-black {
		width: 80%;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}
	.title, .title-right {
		font-size: 25px;
		line-height: 35px;
	}
	.slider {
		padding: 50px 0!important;
	}
	.slider-init__item {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.slider-init__info, .slider-init__img {
		width: 100%;
	}
	.slider-init__title, .slider-init__text {
		text-align: center;
	}
	.slider-init__links {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 30px;
	}
	.slick-slide img {
	    max-height: 180px!important;
	    height: auto;
	}
	.slider-init__link {
		margin-bottom: 20px;
		margin-right: 0;
	}
	.slider-init__link:last-child {
		margin-bottom: 0;
	}
	.slider-init__title {
		font-size: 18px;
		line-height: 24px;
	}
	.slider-init__high {
		font-size: 24px;
	}
	.slider__nav {
		bottom: 0;
	}
	.slick-prev:before {
		width: 28px!important;
		height: 19px!important;
		background: url(..//images/mobile-arrow-left.png) no-repeat!important;
	}
	.slick-next:before {
		width: 28px!important;
		height: 19px!important;
		background: url(..//images/mobile-arrow-right.png) no-repeat!important;
	}
	.text {
		font-size: 16px;
		line-height: 22px;
		padding: 10px 0!important;
	}
	.slider-init__text {
		padding-top: 20px!important;
	}
	.slider-init__info {
		order: 2;
	}
	.slider-init__img {
		order: 1;
		padding-bottom: 20px;
	}
	.statistic-bg {
		height: 100%;
	}
	.stats {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.stats__block {
		padding: 0 0 30px 0;
		border: 0;
	}
	.stats__block--time {
		width: 100%;
		order: 1;
	}
	.stats__block--width {
		order: 2;
		width: 50%;
		padding-bottom: 0;
	}
	.stats__block--money {
		order: 3;
		width: 50%;
		padding-bottom: 0;
	}
	.stats__value {
		font-size: 50px;
	}
	.stats__desc {
		padding-top: 10px;
		font-size: 18px;
		line-height: 24px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 80px;
	}
	.stats__del {
		padding: 0 10px;
		font-size: 50px;
	}
	.advantages-box__wrap {
		-ms-align-items: center;
		align-items: center;
		margin-top: 30px;
		justify-content: space-between;
	}
	.advantages-box {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.advantages-box__item {
		flex-basis: 50%;
		justify-content: center;
		padding-bottom: 30px;
		border-right: 0;
	}
	.advantages-box__number {
		display: none;
	}
	.advantages-item__title {
		width: auto;
		text-align: center;
		padding-top: 15px;
		font-size: 16px;
	}
	.invite__box {
		margin-top: 30px;
	}
	.invite-bg {
		height: 100%;
	}
	.sequences__item {
		flex-basis: 50%;
		padding-bottom: 40px;
	}
	.sequences__item--width {
		top: 0;
	}
	.sequences__item--full {
		flex-basis: 100%;
	}
	.sequences__block {
		width: auto;
		height: auto;
		background: none!important;
	}
	.sequences__info {
		max-width: 200px;
	}
	.sequences__item--one:before {
		width: 100px;
    	height: 15px;
    	top: -20px;
    	left: 38%;
	}
	.sequences__item--two:before {
		width: 185px;
    	height: 30px;
    	top: 215px;
    	left: 59%;
	}
	.sequences__item--three:before {
		width: 110px;
    	height: 110px;
    	top: 21%;
    	right: 0;
    	transform: rotate(-55deg);
	}
	.sequences__item--four:before {
		width: 90px;
    	height: 25px;
		transform: translate(-54%, 0) rotate(10deg);
	    top: -20px;
    	right: 41%;
    	background: url(..//images/left-bottom-small.png) no-repeat;
    	-webkit-background-size: cover;
    	background-size: cover;
	}
	.sequences__item--two:before {
		display: none;
	}
	.sequences__item--five:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 100px;
		width: 42px;
		height: 123px;
		top: -30px;
		left: 20%;
    	transform: rotate(-60deg);
		background: url(..//images/right-bottom-small.png) no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.sequences__title {
		font-size: 18px;
		line-height: 24px;
	}
	.sequences__text {
		max-width: 80%;
		font-size: 14px;
		line-height: 20px;
	}
	.sequences__item--one {
		order: 1;
	}
	.sequences__item--two {
		order: 2;
	}
	.sequences__item--three {
		order: 3;
	}
	.sequences__item--four {
		order: 5;
	}
	.sequences__item--five {
		order: 4;
	}
	.statistic, .advantages, .invite {
		height: auto!important;
		padding: 50px 0!important;
	}
	/* draw */
	.draw__block {
		width: 100%;
		padding-bottom: 30px;
		justify-content: space-between;
		line-height: 1.5;
	}
	.draw__info {
		margin: 40px 0 20px 0;
	}
	.draw__desc {
		font-size: 18px;
	}
	.draw__value {
		font-size: 20px;
	}
	.table-balance__column {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}
	.table-balance__column--icon:after {
		right: -40px;
		left: auto;
	}
	.table-balance__column--margin {
		margin-right: 40px;
	}
	/* faq */
	.banner {
		height: auto;
		padding: 50px;
		margin-top: 50px;
	}
	.questions {
		padding-bottom: 50px;
	}
	.questions__block {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 36px;
	}
	.questions__question {
		padding: 33px 90px 33px 33px;
	}
	.banner__title {
		font-size: 30px;
	}
	.banner__link {
		width: 100%!important;
	}
	/* faq end */
	/* 404 */
	.not-found {
		background-position: 75% 0;
	}
	.not-found__wrap {
		width: 100%;
		height: 100vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 50px 0;
		height: 100vh;
		justify-content: flex-end;
		padding-bottom: 40px;
	}
	.not-found__logo {
		display: none;
	}
	.not-found__row {
		padding-top: 0;
	}
	.not-found__value {
		font-size: 32px;
	}
	.not-found__link {
		width: 100%;
		margin-top: 40px;
	}
	/* 404 end */
	/* soon */
	.soon {
		background-position: 65% 0;
	}
	.soon__wrap {
		width: 100%;
		height: 100vh;
		justify-content: space-between;
		padding: 50px 0;
	}
	.soon__row {
		padding-top: 0;
	}
	.soon__desc, .soon__value {
		font-size: 30px;
	}
	.soon__link {
		width: auto;
		margin-top: 0;
		padding: 0 40px;
	}
	.soon__text {
		padding-top: 0;
	}
	/* soon end */
	/* about */
	.about {
		padding-bottom: 40px;
	}
	.excellence {
		height: auto;
		padding: 40px 0;
		background: #141414;
	}
	.excellence-box {
		width: auto;
	}
	.excellence-box__item {
		justify-content: center;
		flex-basis: 100%;
	}
	.excellence-box__item:nth-child(n+2) {
		padding-bottom: 40px;
	}
	.excellence-box__wrap {
		width: 75%;
	}
	.about__desc {
		font-size: 18px;
		line-height: 28px;
	}
	.about__wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.about__img, .about__info {
		width: 100%;
	}
	.about__info {
		order: 1;
		padding-left: 0;
	}
	.about__subtitle {
		font-size: 24px;
	}
	.about__text {
		font-size: 16px;
	}
	.about__img {
		order: 2;
		padding-top: 40px;
		max-width: none;
		text-align: center;
	}
	.about__image-subtitle {
		justify-content: center;
	}
	/* about end */
	/* account */
	h3.subtitle {
		font-size: 25px;
	}
	h4.subtitle {
		font-size: 20px;
	}
	.account__wrap {
		justify-content: center;
	}
	.account__referal {
		padding-bottom: 20px;
	}
	.personal-info {
		width: 100%;
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.personal-info__info {
		margin-top: 40px;
		padding-left: 0;
		justify-content: center;
	}
	.personal-info__avatar, .personal-info__info {
		width: 100%;
	}
	.personal-form__label {
		width: auto;
	}
	.personal-form__row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.personal-form__dropped {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.personal-form__row--edit:after {
		display: none;
	}
	.balance {
		width: 100%;
		margin-top: 40px;
	}
	.balance__bottom {
		padding: 25px 0;
	}
	.table-balance__thead {
		font-size: 16px;
		width: auto;
	}
	.table-balance__column {
		padding: 25px 0 25px;
		text-align: left;
	}
	.account__table {
		margin-bottom: 50px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.table-balance__thead { 
		display: none;
	}
	tr { 
	 	border-top: 1px solid #ccc; 
	}
	tr:last-child { 
	 	border-bottom: 1px solid #ccc; 
	}
	table td {
		font-size: 16px!important;
	}
	table td:before {
	    content: attr(data-label);
	    margin-right: 40px;
	    width: 50%;
	    display: inline-block;
	    font-size: 16px!important;
	    color: #fff;
	    line-height: 20px;
	}
	/* account end */

	.referal__code, .referal__text {
		width: 100%;
	}
	.referal__text {
		font-size: 16px;
		line-height: 36px;
	}
	.referal__code {
		padding-bottom: 20px;
	}
	.referal__value {
		font-size: 3vw;
	}
	.referal__value:after {
		width: 12px;
		height: 15px;
		margin-left: 5px;
	}
	.footer {
		padding: 50px 0;
	}
	.footer__container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__info {
		width: 100%;
		order: 2;
		padding-top: 20px;
	}
	.footer__form {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		order: 1;
	}
	.footer__block {
		border-bottom: 1px solid #fff;
	}
	.feedback-form__btn {
		width: 80%;
		font-size: 16px;
	}
	.footer__adress {
		font-size: 18px;
	}
	.socials__title, .footer__copyright {
		font-size: 16px;
	}
	.feedback-form__title {
		font-size: 20px;
	}
	.box-modal {
		min-width: auto;
		padding: 75px 10px;
		border: 0;
	}
	#registermodal {
		padding: 45px 10px;
	}
	.draw-modal {
		width: 100%;
		padding: 78px 20px;
	}
	.draw-modal__wrap {
	    justify-content: center;
	}
	.draw-modal__list:last-child {
		padding-right: 20px;
	}
	.modal-referal__value {
		font-size: 3vw;
	}
	.modal-referal__value:after {
		margin-left: 10px;
	}
	.arcticmodal-container_i2 {
		padding: 0!important;
	}
	.box-modal__links {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.box-modal__code {
		padding-top: 25px;
	}
	.box-modal__socials {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.socials-buttons__btn {
		margin-bottom: 10px;
	}
	.box-modal__desc {
		text-align: center;
	}
	.box-modal--bg {
		background-position: 50% 0;
	}
	.winners {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.winners__item {
		justify-content: center;
	}
	.winners__item:before {
		margin-right: 15px;
	}
	.winners__list {
		width: 100%;
	}
	.winners__item {
		padding: 10px;
	}
	.winners__name, .winners__sum {
		font-size: 18px;
	}
}

@media (min-width: 1024px) and (max-height: 1400px) and (orientation:portrait) {
	.not-found__logo {
		display: none;
	}
	.not-found__wrap {
		width: 100%;
	}
	.about {
		padding-bottom: 70px;
	}
	.excellence {
		height: auto;
		padding: 70px 0;
		background: #141414;
	}
	.excellence-box {
		width: 100%;
	}
	.excellence-box__item {
		justify-content: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) and (orientation:landscape) {
	.mobile-menu {
		justify-content: space-between;
	}
	.mobile-nav {
		padding-top: 0;
	}
	.mobile-menu__sign {
		margin-top: 0;
	}
	.mobile-nav__link {
		padding: 7px 0;
		font-size: 18px;
	}
	.not-found__desc {
		font-size: 100px;
	}
	.not-found__value {
		font-size: 30px;
	}
	.not-found__link {
		margin-top: 20px;
	}
	.slider {
		padding: 0 0 40px;
	}
	.statistic, .advantages, .invite {
		padding: 40px 0!important;
	}
}

@media (min-width: 480px) and (max-width: 767px) and (orientation:landscape) {
	.mobile-menu {
		justify-content: space-between;
		padding: 20px 0 20px 40px;
	}
	.mobile-nav {
		padding-top: 0;
	}
	.mobile-menu__sign {
		margin-top: 0;
	}
	.mobile-nav__link {
		padding: 7px 0;
		font-size: 18px;
	}
	.not-found__desc {
		font-size: 100px;
	}
	.not-found__value {
		font-size: 30px;
	}
	.not-found__link {
		margin-top: 20px;
	}
}

@media (min-width: 280px) and (max-width: 400px) {
	.logo__img {
		width: 140px;
	}
	.btn-toggle:before {
		width: 40px;
		margin-bottom: 10px;
	}
	.btn-toggle__line {
		width: 30px;
		margin-bottom: 10px;
	}
	.btn-toggle:after {
		width: 20px;
	}
	.header__lang {
		margin-right: 20px;
	}
	table td:before {
		width: 30%;
	}
	#registermodal {
		padding: 75px 10px;
	}
	.slider__nav-mobile .slick-prev {
	    left: 10px;
	}
	.slider__nav-mobile .slick-next {
		right: 20px;
	}
	.stats__hours, .stats__minutes, .stats__seconds {
		font-size: 65px;
	}
	.stats__del {
		padding: 0 10px;
		font-size: 50px;
	}
	.stats__desc {
		font-size: 16px;
		line-height: 20px;
	}
	.about__subtitle {
		font-size: 20px;
	}
	.about__text {
		font-size: 14px;
		line-height: 30px;
	}
	.excellence-box__title {
		font-size: 16px;
	}
	.sequences__item {
		flex-basis: 100%;
	}
	.advantages-box__item {
		flex-basis: 100%;
	}
	.sequences__item:before {
		display: none;
	}
	.soon__desc, .soon__value  {
		font-size: 25px;
	}
	.soon__text {
		font-size: 20px;
	}
	.modal-referal__value:after {
		margin-left: 10px;
	}
	.arcticmodal-container_i2 {
		padding: 0!important;
	}
	.not-found__desc {
		font-size: 100px;
	}
	.not-found__value {
		font-size: 30px;
	}
	.not-found__link {
		width: 100%;
		height: 60px;
		padding: 0 10px;
		line-height: 60px;
		font-size: 15px;
	}
}

@media screen and (min-width: 481px) and (max-width: 600px) {
	.sequences__item--one:before {
		width: 105px;
    	height: 15px;
    	left: 38%;
	}
	.sequences__item--three:before {
		right: 2px;
	}
	.sequences__item--four:before {
		width: 105px;
    	height: 25px;
    	top: -20px;
	}
	/*.sequences__item--five:before {
		left: 50px;
	}*/
}